<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>THIS PAGE BELONGS TO VIRAT KOHILI</h1>
    <a style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-align: center; text-decoration: none; border-radius: 5px; transition: background-color 0.3s ease;" 
    onmouseover="this.style.backgroundColor='#0062cc';" 
    onmouseout="this.style.backgroundColor='#007bff';" href="{% url 'app1:dhoni' %}">Navigate to Dhoni</a>
    <h1 style="background-color: rgb(205, 85, 49); padding: 5px; transition: background-color 0.3s ease-in-out;" onmouseover="this.style.backgroundColor='orange'" onmouseout="this.style.backgroundColor='yellow' ">VIRAT KOHILI THE KING OF CRICKET</h1></center>
    
        <p>Virat Kohli (Hindi pronunciation: [ʋɪˈɾɑːʈ ˈkoːɦli] (listen); born 5 November 1988) is an Indian international cricketer and former captain of the India national 
            team who plays as a right-handed batsman for Royal Challengers Bangalore in the IPL and for Delhi in Indian domestic cricket. Widely regarded as one of the greatest
             batsmen of all time,[3] Kohli holds the records for scoring most runs in T20 internationals and in the IPL. In 2020, the International Cricket Council named him the
              male cricketer of the decade. Kohli has also contributed to India's successes, including winning the 2011 World Cup and the 2013 Champions trophy.Born and raised 
              in New Delhi, Kohli trained in West Delhi Cricket Academy; started his youth career with Delhi Under-15 team. Kohli made his international debut in 2008 and 
              quickly became a key player in the ODI team. He made his Test debut in 2011. In 2013, Kohli reached the number one spot in the ICC rankings for ODI batsmen for 
              the first time. During 2014 T20 World Cup, he set a record for the most runs scored in the tournament. </p>

              <center><h3>Early life and background </h3></center>
    
              <p>In 2018, he achieved yet another milestone, becoming the world's top-ranked Test batsman, making him the only Indian cricketer to hold the number one spot in all 
                three formats of the game. His form continued in 2019,where he became the first player to score 20,000 international runs in single decade. In 2021, Kohli made the 
                decision to step down as the captain of the Indian national team for T20Is, following the T20 World Cup and in early 2022 he stepped down as the captain of the Test team as well.Kohli has received many accolades 
                for his performances on the cricket field. He was recognized as the ICC ODI Player of the Year in 2012 and has won Sir Garfield Sobers Trophy, given to the ICC 
                Cricketer of the Year, on two occasions, in 2017 and 2018. Kohli also won ICC Test Player of the Year and ICC ODI Player of the Year awards in 2018, becoming the 
                first player to win both awards in the same year. Additionally, Kohli was named the Wisden Leading Cricketer in the World for three consecutive years, from 2016 
                to 2018. At the national level, Kohli was honoured with the Arjuna Award in 2013, the Padma Shri under the sports category in 2017 and the Rajiv Gandhi Khel Ratna
                 award, India's highest sporting honour, in 2018.</p>
                 
                 <center><h3>Early career</h3></center>
    
                 <p>In 1998, the West Delhi Cricket Academy (WCDA) was created and on 30 May of that year, Prem Kohli, espoused his younger son's fervor for cricket, assisted
                     nine-year-old Kohli's aspirations and arranged for him to meet Rajkumar Sharma, who initially perceived him to be just another enthusiastic and determined 
                     young boy. However, two weeks later, Sharma was impressed by Kohli's accuracy and power in throwing.[7] Upon the suggestion of their neighbours, Kohli's 
                     father considered enrolling his son in a professional cricket academy, as they believed that his cricketing abilities merited more than just playing in 
                     the gully cricket.[8] Despite his abilities, he faced the setback of being unable to secure a place in the under-14 Delhi team, not due to a lack of merit 
                     but due to extraneous factors. Prem Kohli received offers to relocate his son to influential clubs, which would have ensured his selection, but he declined
                      the proposals, as he was determined that Kohli should earn his recognition based on his own merit and overcome the system of nepotism and deceit prevalent 
                      in the Delhi and District Cricket Association (DDCA). Kohli persisted and eventually found his way into the under-15 Delhi team.[9] He received training 
                      at the academy while simultaneously participating in matches at the Sumeet Dogra Academy located at Vasundhara Enclave.[10] As per Sharma's recollection 
                      of Kohli's initial days at his academy, he exuded remarkable talent, making it arduous for the coach to curb his enthusiasm. Kohli remained prepared to
                       bat at any position, and often, Sharma had to physically coerce him to leave the training sessions, as he was reluctant to depart.[11] In pursuit of 
                       furthering his cricketing career, he transitioned to Saviour Convent School during his ninth-grade education.[8] Kohli's ardent passion for cricket
                        compelled him to travel long distances with his father to ensure that he never missed a match. </p>
    
</body>
</html>